@font-face {
    font-family: 'HeadingFont';
    src: url('/fonts/Roboto-Slab-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'BodyFont';
    src: url('/fonts/Roboto-Condensed-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
  }
  
  :root {
    --font-heading: 'HeadingFont', sans-serif;
    --font-body: 'BodyFont', sans-serif;
  }