{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": true,
  "bracketSameLine": false,
  "singleHtmlElementPerLine": false,
  "overrides": [
    {
      "files": "*.{json,md,mdx}",
      "options": {
        "printWidth": 100,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": false
      }
    },
    {
      "files": "*.vue",
      "options": {
        "printWidth": 60,
        "htmlWhitespaceSensitivity": "ignore",
        "vueIndentScriptAndStyle": true
      }
    }
  ]
}
